<app-navbar></app-navbar>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-5">
        
                <h3 style="text-align: center;">ALMEGATEX</h3>
                <hr size="10px;   align:center">
                <h5 style="text-align: center;">Nomor Antrian Anda:</h5>
                <h1 style="font-size: 80px;text-align: center;">{{numberQueue}}</h1>
                <h5 style="text-align: center;">Mohon Menunggu</h5>
                <img style="align-items: center;height: 100px;width: 100%;" src="../../assets/img/barcode.png" alt="">
                <h4 style="text-align: center;">{{queueTime}}</h4>
                <hr size="10px;   align:center"> 
                <h5 style="text-align: center;">Budayakan antri untuk kenyamanan</h5>
                <h5 style="text-align: center;">bersama</h5>
                <h5 style="text-align: center;">Terimakasih atas kunjungan anda</h5>
        </div>
    </div>



</div>