 
<div fxLayout="column" fxLayoutGap="8px">
  <button mat-raised-button style="color:white;background: rgb(8, 125, 221)" (click)="changePage('')"> Home </button>
    <button mat-raised-button style="color:white;background: rgb(14, 124, 214)" (click)="changePage('request-queue-number')"> Print Queue Number </button>
    <button mat-raised-button style="color:white;background:rgb(22, 110, 182)" (click)="changePage('input_visitor_details')"> Input Visitor Details </button>
    <button mat-raised-button style="color:white;background:rgb(32, 100, 156)" (click)="changePage('visitor-list')"> Visitor List </button>
  </div>