 
 <nav class="navbar navbar-light bg-warning">

    <div class="container-fluid">
        <h1 style="color: black;">Customer Queue Management</h1>
        <div class="d-flex">

            <button type="button"  data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-success">add visitor</button>
        </div>
    </div>
 </nav>

 <table class="table mt-3 ">
     <thead>
         <tr>
          
             <th scope="col">name</th>
             <th scope="col">pic</th>
             <th scope="col">city</th>
             <th scope="col">remark</th>
             <th scope="col">npwp</th>
             <th scope="col">costumer category</th>
             <th scope="col">address1</th>
             <th scope="col">address2</th>
             <th scope="col">contact</th>
             <th scope="col">region</th>
             <th scope="col">province</th>
             <th scope="col">expedition</th>
             <th scope="col">sales</th>
             <th scope="col">queue</th>
             <th scope="col">time</th>
             <th scope="col">action</th>
         </tr>
     </thead>
     <tbody>
         <tr>
             <td>1</td>
             <td>1</td>
             <td>1</td>
             <td>1</td>
             <td>1</td>
             <td>1</td>
             <td>1</td>
             <td>1</td>
             <td>1</td>
             <td>1</td>
             <td>1</td>
             <td>1</td>
             <td>1</td>
             <td>1</td>
             <td>1</td>
             <td>
                 <button type="button"  data-bs-toggle="modal" data-bs-target="#addVisitorModal" class="btn btn-success">edit</button>
                 <button class="btn btn-danger mx-3">delete</button>
             </td>
         </tr>
     </tbody>
 </table>
 
 
  
  <!-- Modal -->
  <div class="modal fade" id="addVisitorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Visitor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                
                <div class="mb-3">                 
                  <label for="input_name" class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="input_name"  >
                </div>
                <div class="mb-3">                 
                  <label for="input_pic" class="form-label">pic</label>
                  <input type="text" formControlName="pic" class="form-control" id="input_pic"  >
                </div>
                <div class="mb-3">                 
                  <label for="input_city" class="form-label">city</label>
                  <input type="text" formControlName="city" class="form-control" id="input_city"  >
                </div>
                <div class="mb-3">                 
                  <label for="input_remark" class="form-label">remark</label>
                  <input type="text" formControlName="remark" class="form-control" id="input_remark"  >
                </div>
                <div class="mb-3">                 
                  <label for="input_npwp" class="form-label">npwp</label>
                  <input type="text" formControlName="npwp" class="form-control" id="input_npwp"  >
                </div>
                <div class="mb-3">                 
                  <label for="input_costumer_category" class="form-label">costumer_category</label>
                  <input type="text" formControlName="costumer_category" class="form-control" id="input_costumer_category"  >
                </div>
                <div class="mb-3">                 
                  <label for="input_address1" class="form-label">address1</label>
                  <input type="text" formControlName="address1" class="form-control" id="input_address1"  >
                </div>
                <div class="mb-3">                 
                  <label for="input_address2" class="form-label">address2</label>
                  <input type="text" formControlName="address2" class="form-control" id="input_address2"  >
                </div>
                <div class="mb-3">                 
                  <label for="input_contact" class="form-label">contact</label>
                  <input type="text" formControlName="contact" class="form-control" id="input_contact"  >
                </div>
                <div class="mb-3">                 
                  <label for="input_region" class="form-label">region</label>
                  <input type="text" formControlName="region" class="form-control" id="input_region"  >
                </div>
                <div class="mb-3">                 
                  <label for="input_province" class="form-label">province</label>
                  <input type="text" formControlName="province" class="form-control" id="input_province"  >
                </div>
                <div class="mb-3">                 
                  <label for="input_expedition" class="form-label">expedition</label>
                  <input type="text" formControlName="expedition" class="form-control" id="input_expedition"  >
                </div>
                <div class="mb-3">                 
                  <label for="input_sales" class="form-label">sales</label>
                  <input type="text" formControlName="sales_id" class="form-control" id="input_sales" disabled  >
                </div>
                <div class="mb-3">                 
                  <label for="input_queue" class="form-label">queue</label>
                  <input type="text" formControlName="queue" class="form-control" id="input_queue" disabled >
                </div>
                <div class="mb-3">                 
                  <label for="input_time" class="form-label"  >time</label>
                  <input type="text" formControlName="time" class="form-control" id="input_time" disabled >
                </div>
                
               
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="addVisitorMethod" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>